In [ ]:
#Amazon data

In [1]:
#import pandas library
import pandas as pd

In [8]:
#reading the dataset "Amazon Sales data.csv" and storing it in a dataframe
#using pd.read_csv() function
df=pd.read_csv('/content/Amazon_Sales_Data.csv')

In [9]:
#displaying top 5 rows of the dataset
df.head(5)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,28-05-2010,669165933,27-06-2010,9925,255.28,159.42,2533.7K,1582.2K,951.4K
1,Central America and the Caribbean,Grenada,Cereal,Online,C,22-08-2012,963881480,15-09-2012,2804,205.70,117.11,576.8K,328.4K,248.4K
2,Europe,Russia,Office Supplies,Offline,L,02-05-2014,341417157,08-05-2014,1779,651.21,524.96,1158.5K,933.9K,224.6K
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,20-06-2014,514321792,05-07-2014,8102,9.33,6.92,75.6K,56.1K,19.5K
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,01-02-2013,115456712,06-02-2013,5062,651.21,524.96,3296.4K,2657.3K,639.1K

In [10]:
#checking the datatypes of all the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    object
 12  Total Cost      100 non-null    object
 13  Total Profit    100 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 11.1+ KB

In [17]:
#here 'Order Date' and 'Ship Date' are of object type which means they are strings
#converting 'Order Date' and 'Ship Date' to datetime datatype
df['Order Date']=pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
df['Ship Date']=pd.to_datetime(df['Ship Date'], format='%d-%m-%Y')

In [13]:
#checking if the conversion of datatype happened or not using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    object
 12  Total Cost      100 non-null    object
 13  Total Profit    100 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 11.1+ KB

In [18]:
#we can see that the datatype of both 'Order Date' and 'Ship Date' has been changed to datetime
#now we will export this updated file so that we can use it for analysis
df.to_csv('amazon_sales_data.csv', index=False)